<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <img id="background" src="https://cdn.freecodecamp.org/platform/universal/fcc_banner_new.png">
    <h1>Timestamp Microservice</h1>
    <div id="container">
      
      <div class="block">
        <h2>Example Usage:</h2>
        <ul>
          <li><a href="api/2015-12-25">[url]/api/2015-12-25</a></li>
          <li><a href="api/1451001600000">[url]/api/1451001600000</a></li>
        </ul>
      </div>
      <div class="block">
        <h2>Example Output:</h2>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
    </div>
    <div id="footer">
      <a id="link" href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
    </div>
  </body>
</html>
